body {
    font-family: Arial, Helvetica, sans-serif;
    background: #333;
    color: #f4f4f4;
    margin: 0;
    padding: 0;
}

a {
    color: #f4f4f4;
    text-decoration: none;
}

h1 {
    margin: 0;
    padding: 0;
}


/* Navigation Bar */

.navbar {
    background: #646464;
    height: 30px;
    border-bottom: 2px solid #6f6f6f;
}

ul {
    margin-top: 0;
}

.navbar .navbar-nav {
    padding: 10px 40px;
    float: left;
    position: fixed;
}

.navbar .navbar-nav li {
    list-style: none;
    display: inline;
    padding: 10px;
}

.badge h2 {
    float: right;
    margin-top: 0;
}


/* Showcase */

#showcase {
    width: 100%;
    height: 350px;
    background: url('../img/showcase.jpg') no-repeat center;
    background-position: center;
    background-attachment: fixed;
}


/* Sections - Intro */

.section-intro {
    width: 100%;
    height: 300px;
}

.section-main {
    width: 100%;
    height: 400px;
    background: url('../img/products.jpg') center no-repeat fixed;
    opacity: 0.5;
}

.section-prod {
    width: 100%;
    height: 400px;
    background: url('../img/46.jpg') center no-repeat fixed;
}

.container {
    width: 80%;
    margin: auto;
}

.container h1 {
    text-align: center;
    padding: 50px;
}

.container p {
    text-align: center;
    font-size: 20px;
    font-style: italic;
}

.active {
    background-color: #c41e1e;
}